# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/lambdas/*
!/lambdas/src
/lambdas/src/rds-code/*
!/lambdas/src/rds-code/*.py
/lambdas/src/rds-code/six.py


# dependencies
.terraform

terraform.tfstate
terraform.tfstate.backup
compx527-group3/src/config.js
